# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [46]:
import numpy as np
import pandas as pd
import math  
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [5]:
salaries.shape

(33183, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
null_cols = salaries.isnull().sum()
null_cols[null_cols > 0]

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
salaries.pivot_table(index = ['Department'], values = 'Name', aggfunc=['count'])

                       count
                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
hourly_salaries = salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [13]:
hourly_salaries['Hourly Rate'].mean()

32.78855771628128

In [61]:
from scipy.stats import ttest_1samp
observed_mean = 30

# H0 : Hourly Salary = 30
# H1 : Hourly Salary != 30

result = ttest_1samp(hourly_salaries['Hourly Rate'], observed_mean)
result
#The p-value/2 is smaller than 5% and therefore we reject the null hypothesis

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [75]:
#other methodology 

from scipy.stats import t

n = hourly_salaries['Hourly Rate'].shape[0]
sqt = hourly_salaries['Hourly Rate'].std()
sample_mean = hourly_salaries['Hourly Rate'].mean()

dist = t(n-1,sample_mean, sqt/np.sqrt(n))

dist.interval(0.95) 

#as we can see 30 is outside of the acceptance region

(32.52345834488529, 33.05365708767727)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [15]:
salaried = salaries[salaries['Salary or Hourly'] == 'Salary']
salaried.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN

In [80]:
salaried['Annual Salary'].mean()

86786.99979015153

In [81]:
observed_mean = 86000

ttest_1samp(salaried['Annual Salary'], observed_mean)

#The p-value is smaller than 5%, therefore we reject the null hypothesis

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

In [93]:
#other methodology 

# H0 : year salary < $86000/year
# H1 : year salary > $86000/year
#all the rejection % is put in the left tail

n = salaried['Annual Salary'].shape[0]
sqt = salaried['Annual Salary'].std()
sample_mean = salaried['Annual Salary'].mean()

dist = t(n-1,sample_mean, sqt/np.sqrt(n))

#1 tail test --> use 90% to get the limit 
round(dist.interval(0.90)[0],3)

#86k < 86568.80 --> we reject the null hypothesis --> there is evidence that the mean of this 
#year salary is higher than last year's of $86000/year

86568.801

In [84]:
#what is the area to the left of the 86k observation aka P-VALUE
observed_mean = 86000

p = 2*100*dist.cdf(observed_mean)
p #same as with first methodology

3.0157585198996834e-07

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).sort_values(by=['Hourly'], ascending=False).head(1)

#the department with most hourly workers is STREETS & SAN

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [85]:
ttest_1samp(hourly_salaries['Hourly Rate'], 35)

#p-value < alpha (5%) we reject the null hypothesis

Ttest_1sampResult(statistic=-16.352363851001144, pvalue=3.7636889298508017e-59)

In [103]:
hourly_salaries['Hourly Rate'].mean()

32.78855771628128

In [104]:
#other methodology 

# H0 : Hourly Salary > 35
# H1 : Hourly Salary < 35

#all the rejection % is put in the right tail

n = hourly_salaries['Hourly Rate'].shape[0]
sqt = hourly_salaries['Hourly Rate'].std()
sample_mean = hourly_salaries['Hourly Rate'].mean()

dist = t(n-1,sample_mean, sqt/np.sqrt(n))

#1 tail test --> use 90% to get the limit 
round(dist.interval(0.90)[1],3)

#since 35>33.011 we reject the null hypothesis --> there is evidence that the mean is lower than 35, 
#at a 5% significance level

33.011

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [32]:
from scipy.stats import t

n= hourly_salaries.shape[0]
mean = hourly_salaries['Hourly Rate'].mean()
std = hourly_salaries['Hourly Rate'].std()

dist = t(n-1,mean, std/np.sqrt(100))

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [33]:
dist.interval(0.95)

#confirmes the question above where we rejected the H0 for mean=30 
#as we can see from the CI below 30 its outside of the acceptance region for 95%

(30.414178802535385, 35.16293663002718)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [51]:
from statsmodels.stats.proportion import proportions_ztest

#whether the number of hourly workers in the City of Chicago is significantly different from 25%
#H0: p = 25%
#H1: p != 25%

n = salaries.shape[0]
x = hourly_salaries.shape[0]

proportions_ztest(x,n, value=0.25) #we reject the null hypothesis

(-3.5099964213703005, 0.0004481127249057967)

In [59]:
p = x/n
p1 =0.25

(p-p1)/math.sqrt(p1*(1-p1)/(n-1))

-3.4704766302534127

In [60]:
stats.norm.interval(0.95)[0]

-1.959963984540054